/*
Custom css
*/

body {
    color: black;
}

iframe {
    max-width: 100%;
}

.primary {
    color: white;
}

.flex-0-2 {
    flex: 0.2!important;
}

.w-100-max {
    width: 100% !important;
}

.select_100_max .select2-container {
    width: 100% !important;
}

.header_toggle i:before {
    background-color: red;
}

#aside .dropdown-menu.show {
    left: 100% !important;
}

.dropdown-menu.show {
    border: 1px solid #e1e6eb;
    box-shadow: 0 3px 10px rgba(71, 80, 89, 0.15);
}

.nav-stacked .nav > li:not(.nav-header) {
    padding: 5px 0.75rem;
}

.link_btm {
    padding: 5px 0.75rem;
}

.link_btm .link_btm__badge {
    display: block;
    border-radius: 3px;
    height: 2rem;
    line-height: 2rem;
}

.link_btm:hover .link_btm__badge {
    background-color: rgba(255, 255, 255, 0.065);
}


.nav-active-border .nav-link:hover:before, .nav-active-border .nav-link:focus:before, .nav-active-border .nav-link.active:before {
    border-color: #53a6fa;
}

.app-aside .navbar {
    text-align: center;
    background-color: #3172b3;
    margin-bottom: 20px;
}

.app-aside .sidenav, .app-aside .no-shrink, .app-aside .bg {
    background-color: #3172b3;
}

.nav-fold a .badge i {
    color: white;
}

.sidenav .nav-icon {
    opacity: 1;
    color: white;
}

.app-aside .navbar-brand {
    width: 100%;
}

.app-aside, .app-aside .scroll {
    width: 90px;
}

.app-aside .hide-scroll {
    width: 90px;
}

.app-aside > * {
    overflow: visible!important;
}

.nav-stacked .nav > li > a {
    padding: 0;
}

.nav-stacked .nav > li > a span {
    width: 100%!important;
    margin: 0;
}

.progress {
    height: 10px;
}

.iti--allow-dropdown {
    width: 100%;
}

.modal.fade .modal-right {
    left: 50%;
}

.int_logo img {
    width: 250px;
}

.font-10 {
    font-size: 10px!important;
}

.font-14 {
    font-size: 14px!important;
}

.font-18 {
    font-size: 18px;
}

.pos_top_right {
    top: 0;
    right: 0;
}

/*Toogle*/

.intro, .resources, .notification{
    display: none;
    bottom: 0;
    min-width: 335px;
    position: absolute;
    left: 100%;
    border: 1px solid #e1e6eb;
    box-shadow: 0 3px 10px rgba(71, 80, 89, 0.15);
    background-color: #fff;
}

.intro_top a {
    font-size: 14px;
    color: black;
}

.video_btn {
    width: 40px;
    height: 32px;
    background: #e0efff;
    border-radius: 4px;
}

.intro_undo {
    display: none;
}

.intro_top__close i, .intro_undo i {
    color: #bcc4cc;
}

.intro_list label span {
    color: black;
}

.intro_list .line-through span {
    text-decoration: line-through;
    color: #bcc4cc;
}

.intro_congrats {
    display: none;
}

.video_modal .modal-title {
    color: #222426;
    font-size: 28px;
    font-weight: 300;
}

.video_modal p {
    max-width: 560px;
    margin: 40px auto 20px auto;
}

.video_modal iframe {
    width: 60%;
    max-width: 100%;
    margin: 0 auto;
}

.video_modal__close {
    position: absolute;
    right: 10px;
    top: 5px;
}

/*Resource modal*/

.resource_item {
    text-align: left;
}

.resource_title {
    font-size: 15px;
    color: #475059;
}

.resource_p {
    font-size: 12px;
    color: #acb6bf;
    font-weight: 600;
}

.resources .video_btn {
    width: 100%;
    height: 40px;
}

.resources_bl:hover, .resources_bl:active, .resources_bl:focus {
    background-color: #f2f5f7;
}

.resources_links a {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

/*Notification text*/

.notification__text, .notification__text a {
    font-size: 12px;
    text-align: left;
}

.notification_top {
    align-items: flex-start!important;
}

/*Leads*/

.lead_select .form_sel {
    width: 100px;
}

.dropdown_leads {
    height: 265px;
    overflow: scroll;
}

/*Activities*/

.tabs_border {
    display: inline-flex;
    border: 1px solid #e1e6eb!important;
    border-radius: 5px;
}

.tabs_border li {
    width: 60px;
    height: 33px;
    border-radius: 5px;
    border: 0!important;
    margin-bottom: 0!important;
}

.tabs_border li a {
    border-radius: 5px;
    border: 0!important;
    padding: 0;
    text-align: center;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
}

.table_activities tr {
    border: 1px solid #e1e6eb!important;
    transition: 0.3s;
    cursor: pointer;
    margin: 5px 0;
    display: block;
}

.table_activities tr:first-child {
    margin-top: 0;
}

.table_activities tr:hover {
    transition: 0.3s;
    border: 1px solid#53a6fa!important;
    box-shadow: 0 0 4px 0 rgba(50,50,50,.3);
}

.table_activities tr td {
    border: 0!important;
}

.table_activities__icon {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.table_activities__audio {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

body .ativities_modal__tab .nav-link.active{
    border-bottom-color: rgba(120, 130, 140, 0.13);
}

body .ativities_modal__tab .nav-link{
    border-color: rgba(120, 130, 140, 0.13);
}

.activities_select select {
    width: 120px;
}

.activities_select .select2-selection__arrow {
    top: 0!important;
}

.activities_select span {
    font-size: 12px;
    line-height: 33px!important;
    min-height: 33px!important;
}

.activities_select span ul li {
    font-size: 12px;
}

.activities_select .dropdown button {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 10px;
    font-size: 12px;
    color: black;
    font-weight: 400;
    min-height: 33px;
}

.activities_select .dropdown button:hover, .activities_select .dropdown button:focus {
    box-shadow: initial;
}

.activities_select .dropdown button:after {
    border-top: 5px solid #888888;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;
}

.activities_select .dropdown-item input {
    outline: 0;
}

/*Customixation*/

.add_task__btn {
    width: 100px;
}

#todo_list {
    margin: 0;
    list-style: none;
    border: 1px solid rgba(120, 130, 140, 0.2);
    border-radius: 3px;
    padding: 20px 15px;
}

#todo_list li {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


#todo_list li span {
    width: 80%;
}

.add_task__edit {
    border: 0;
    font-size: 10px;
    width: 25px;
    height: 25px;
}

/*Wizard*/

.wizard_tabs li {
    width: 15%;
    margin-right: 10px;
}

.wizard_tabs li a {
    width: 100%;
    background: #f9fafc;
    padding: 3px 0;
}

.wizard_tabs .nav-link.active, .wizard_tabs .show>.nav-link {
    background-color: #53a6fa;
}

.if_check__block {
    display: none;
}

/*Tags search*/

.tags_search {
    height: 30px;
    font-size: 12px;
}

.tags_search__btn {
    height: 30px;
    font-size: 12px;
    padding: 0 9px;
}

.hover_tag {
    transition: 0.3s;
}

.hover_tag:hover {
    transition: 0.3s;
    color: #53a6fa;
    border-color: #53a6fa!important;
}

/*Star rating*/

.star-rating {
    font-size: 26px;
}

.fa-star{
    color: #f3f3f3;
}

.fa-star.checked {
    color: #ffa73d;
}

/*Lead tabs*/

.lead_tabs button {
    height: 30px;
    transition: 0.3s;
}

.lead_tabs button:before {
    display: none;
}

.lead_tabs button:hover {
    background-color: #53a6fa;
    border-color: #53a6fa!important;
    transition: 0.3s;
    color: white!important;
}

.lead_tabs button:hover + .dropdown button {
    background-color: #53a6fa;
    border-color: #53a6fa!important;
    transition: 0.3s;
    color: white;
}

.lead_tabs button i {
    transition: 0.3s;
}

.lead_tabs button:hover i {
    transition: 0.3s;
    color: white;
}

.lead_tabs button.active {
    background-color: #53a6fa;
    border-color: #53a6fa!important;
    color: white;
}

.lead_tabs button.active + .dropdown button {
    background-color: #53a6fa;
    border-color: #53a6fa!important;
    color: white;
}

.lead_tabs button.active i {
    color: white;
}

.drop_radius__left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.drop_radius__right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

/*Timeline*/

body .sl-icon {
    left: -8px;
}

body .streamline .sl-icon:before {
    width: 25px;
    height: 25px;
}

body .sl-icon > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    .modal.fade .modal-right {
        left: 5%;
    }
    .intro, .resources, .notification {
        left: 0;
    }
    .video_modal iframe {
        width: 100%;
    }
    .lead_select {
        justify-content: flex-start!important;
    }
    .act_left {
        text-align: left!important;
        margin-bottom: 15px;
    }
    #aside .dropdown-menu.show {
        left: 60% !important;
    }
    .owner_left {
        justify-content: flex-start!important;
    }
    .lead_tabs button {
        background-color: white;
    }
    .mob_font_10 {
        font-size: 10px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .modal.fade .modal-right {
        left: 30%;
    }
}

@media screen and (max-width: 992px) {
    .app-aside .sidenav {
        width: 90px;
    }
}

