/*
Custom css
*/

body {
    color: black;
    overflow-x: hidden;
}

iframe {
    max-width: 100%;
}

.primary {
    color: white;
}

.flex-0-2 {
    flex: 0.2!important;
}

.w-100-max {
    width: 100% !important;
}

.select_100_max .select2-container {
    width: 100% !important;
}

.header_toggle i:before {
    background-color: red;
}

#aside .dropdown-menu.show {
    left: 100% !important;
}

.dropdown-menu.show {
    border: 1px solid #e1e6eb;
    box-shadow: 0 3px 10px rgba(71, 80, 89, 0.15);
}

.nav-stacked .nav > li:not(.nav-header) {
    padding: 5px 0.75rem;
}

.link_btm {
    padding: 5px 0.75rem;
}

.link_btm .link_btm__badge {
    display: block;
    border-radius: 3px;
    height: 2rem;
    line-height: 2rem;
}

.link_btm:hover .link_btm__badge {
    background-color: rgba(255, 255, 255, 0.065);
}


.nav-active-border .nav-link:hover:before, .nav-active-border .nav-link:focus:before, .nav-active-border .nav-link.active:before {
    border-color: #53a6fa;
}

.app-aside .navbar {
    text-align: center;
    background-color: #3172b3;
    margin-bottom: 20px;
}

.app-aside .sidenav, .app-aside .no-shrink, .app-aside .bg {
    background-color: white;
}

.content-header {
    background-color: #005aac;
}

.nav-title {
    color: white;
}

.nav-fold a .badge i {
    color: #5e5e5e;
}

.sidenav .nav-icon {
    opacity: 1;
    color: #5e5e5e;
}

.app-aside .navbar-brand {
    width: 100%;
}

.app-aside, .app-aside .scroll {
    width: 90px;
}

.app-aside .hide-scroll {
    width: 90px;
}

.app-aside > * {
    overflow: visible!important;
}

.nav-stacked .nav > li > a {
    padding: 0;
}

.nav-stacked .nav > li > a span {
    width: 100%!important;
    margin: 0;
}

.progress {
    height: 10px;
}

.iti--allow-dropdown {
    width: 100%;
}

.modal.fade .modal-right {
    left: 50%;
}

.int_logo img {
    width: 250px;
}

.font-10 {
    font-size: 10px!important;
}

.font-14 {
    font-size: 14px!important;
}

.font-18 {
    font-size: 18px;
}

.pos_top_right {
    top: 0;
    right: 0;
}

/*Toogle*/

.intro, .resources, .notification{
    display: none;
    bottom: 0;
    min-width: 335px;
    position: absolute;
    left: 100%;
    border: 1px solid #e1e6eb;
    box-shadow: 0 3px 10px rgba(71, 80, 89, 0.15);
    background-color: #fff;
}

.intro_top a {
    font-size: 14px;
    color: black;
}

.video_btn {
    width: 40px;
    height: 32px;
    background: #e0efff;
    border-radius: 4px;
}

.intro_undo {
    display: none;
}

.intro_top__close i, .intro_undo i {
    color: #bcc4cc;
}

.intro_list label span {
    color: black;
}

.intro_list .line-through span {
    text-decoration: line-through;
    color: #bcc4cc;
}

.intro_congrats {
    display: none;
}

.video_modal .modal-title {
    color: #222426;
    font-size: 28px;
    font-weight: 300;
}

.video_modal p {
    max-width: 560px;
    margin: 40px auto 20px auto;
}

.video_modal iframe {
    width: 60%;
    max-width: 100%;
    margin: 0 auto;
}

.video_modal__close {
    position: absolute;
    right: 10px;
    top: 5px;
}

/*Resource modal*/

.resource_item {
    text-align: left;
}

.resource_title {
    font-size: 15px;
    color: #475059;
}

.resource_p {
    font-size: 12px;
    color: #acb6bf;
    font-weight: 600;
}

.resources .video_btn {
    width: 100%;
    height: 40px;
}

.resources_bl:hover, .resources_bl:active, .resources_bl:focus {
    background-color: #f2f5f7;
}

.resources_links a {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

/*Notification text*/

.notification__text, .notification__text a {
    font-size: 12px;
    text-align: left;
}

.notification_top {
    align-items: flex-start!important;
}

/*Leads*/

.lead_select .form_sel {
    width: 100px;
}

.dropdown_leads {
    height: 265px;
    overflow: scroll;
}

/*Activities*/

.tabs_border {
    display: inline-flex;
    border: 1px solid #e1e6eb!important;
    border-radius: 5px;
}

.tabs_border li {
    width: 60px;
    height: 33px;
    border-radius: 5px;
    border: 0!important;
    margin-bottom: 0!important;
}

.tabs_border li a {
    border-radius: 5px;
    border: 0!important;
    padding: 0;
    text-align: center;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
}

.table_activities tr {
    border: 1px solid #e1e6eb!important;
    transition: 0.3s;
    cursor: pointer;
    margin: 5px 0;
    display: block;
}

.table_activities tr:first-child {
    margin-top: 0;
}

.table_activities tr:hover {
    transition: 0.3s;
    border: 1px solid#53a6fa!important;
    box-shadow: 0 0 4px 0 rgba(50,50,50,.3);
}

.table_activities tr td {
    border: 0!important;
}

.table_activities__icon {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.table_activities__audio {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

body .ativities_modal__tab .nav-link.active{
    border-bottom-color: rgba(120, 130, 140, 0.13);
}

body .ativities_modal__tab .nav-link{
    border-color: rgba(120, 130, 140, 0.13);
}

.activities_select select {
    width: 120px;
}

.activities_select .select2-selection__arrow {
    top: 0!important;
}

.activities_select span {
    font-size: 12px;
    line-height: 33px!important;
    min-height: 33px!important;
}

.activities_select span ul li {
    font-size: 12px;
}

.activities_select .dropdown button {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 10px;
    font-size: 12px;
    color: black;
    font-weight: 400;
    min-height: 33px;
}

.activities_select .dropdown button:hover, .activities_select .dropdown button:focus {
    box-shadow: initial;
}

.activities_select .dropdown button:after {
    border-top: 5px solid #888888;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;
}

.activities_select .dropdown-item input {
    outline: 0;
}

/*Customixation*/

.add_task__btn {
    width: 100px;
}

#todo_list {
    margin: 0;
    list-style: none;
    border: 1px solid rgba(120, 130, 140, 0.2);
    border-radius: 3px;
    padding: 20px 15px;
}

#todo_list li {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


#todo_list li span {
    width: 80%;
}

.add_task__edit {
    border: 0;
    font-size: 10px;
    width: 25px;
    height: 25px;
}

/*Wizard*/

.wizard_tabs li {
    width: 15%;
    margin-right: 10px;
}

.wizard_tabs li a {
    width: 100%;
    background: #f9fafc;
    padding: 3px 0;
}

.wizard_tabs .nav-link.active, .wizard_tabs .show>.nav-link {
    background-color: #53a6fa;
}

.if_check__block {
    display: none;
}

/*Tags search*/

.tags_search {
    height: 30px;
    font-size: 12px;
}

.tags_search__btn {
    height: 30px;
    font-size: 12px;
    padding: 0 9px;
}

.hover_tag {
    transition: 0.3s;
}

.hover_tag:hover {
    transition: 0.3s;
    color: #53a6fa;
    border-color: #53a6fa!important;
}

/*Star rating*/

.star-rating {
    font-size: 26px;
}

.fa-star.checked {
    color: #ffa73d;
}

/*Lead tabs*/

.lead_tabs button {
    height: 30px;
    transition: 0.3s;
}

.lead_tabs button:before {
    display: none;
}

.lead_tabs button:hover {
    background-color: #53a6fa;
    border-color: #53a6fa!important;
    transition: 0.3s;
    color: white!important;
}

.lead_tabs button:hover + .dropdown button {
    background-color: #53a6fa;
    border-color: #53a6fa!important;
    transition: 0.3s;
    color: white;
}

.lead_tabs button i {
    transition: 0.3s;
}

.lead_tabs button:hover i {
    transition: 0.3s;
    color: white;
}

.lead_tabs button.active {
    background-color: #53a6fa;
    border-color: #53a6fa!important;
    color: white;
}

.lead_tabs button.active + .dropdown button {
    background-color: #53a6fa;
    border-color: #53a6fa!important;
    color: white;
}

.lead_tabs button.active i {
    color: white;
}

.drop_radius__left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.drop_radius__right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

/*Timeline*/

body .sl-icon {
    left: -8px;
}

body .streamline .sl-icon:before {
    width: 25px;
    height: 25px;
}

body .sl-icon > i {
    width: 25px;
    height: 25px;
    line-height: 25px;
}

/*Leads popup*/

.leads-popup {
    position: absolute;
    top: 56px;
    height: 100vh;
    width: 360px;
    background-color: white;
    overflow-x: scroll;
    transition: .4s;
    right: -360px;
}

.leads-popup.show {
    transition: .4s;
    right: 0;
}

.leads-popup .hero {
    padding: 15px 20px;
}

.leads-popup .hero-close {
    margin-bottom: 30px;
}

.leads-popup .hero-close img {
    height: 15px;
}

.leads-popup .hero-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.leads-popup .hero-info .avatar {
    width: 73px;
    margin-right: 25px
}

.leads-popup .hero-info .avatar img {
    max-width: 100%;
    border-radius: 10px;
}

.leads-popup .hero-info .user {
    margin-bottom: 20px
}

.leads-popup .hero-info .user h3 {
    color: #383838;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3px;
}

.leads-popup .hero-info .user p {
    color: #999;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 4px;
}

.leads-popup .hero-info .user a {
    display: flex;
    align-items: center;
    color: #2196f3;
    font-size: 11px;
    font-weight: 400;
}

.leads-popup .hero-info .user a:hover {
    text-decoration: underline;
}

.leads-popup .hero-info .user a img {
    margin-right: 8px;
    height: 11px;
}

.leads-popup .hero-info .user .id {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #999;
    font-size: 11px;
    font-weight: 400;
}

.leads-popup .hero-info .user .id img {
    margin-right: 8px;
    height: 11px;
}

.leads-popup .hero-info .panel {
    width: 100%;
    background-color: #f2f2f2;
    padding: 15px 30px;
}

.leads-popup .hero-info .panel ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.leads-popup .hero-info .panel ul li img {
    height: 23px;
}

.lead-info {
    border-bottom: 1px solid #f2f2f2;
}

.lead-info h3 {
    padding: 15px 20px;
    background-color: #f2f2f2;
    color: #383838;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.lead-info ul {
    padding: 20px;
    margin: 0;
    list-style: none;
}

.lead-info ul li {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.lead-info ul li:last-of-type {
    margin-bottom: 0;
}

.lead-info ul li h4 {
    color: #808080;
    font-size: 11px;
    font-weight: 400;
    width: 30%;
    position: relative;
}

.lead-info ul li h4:before {
    position: absolute;
    content: ':';
    right: 0;
    color: #808080;
    font-size: 11px;
    font-weight: 400;
}

.lead-info ul li p {
    padding-left: 70px;
    color: #383838;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
}

.lead-tags {
    padding: 20px 0;
}

.lead-tags .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.lead-tags .tags .item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    border-radius: 5px;
    background-color: #e4e7ee;
    color: #383838;
    font-size: 12px;
    font-weight: 400;
    padding: 0 30px;
    margin: 0 0 10px 0;
}

.add-tags {
    padding: 0 20px;
    margin-bottom: 20px;
}

.add-tags button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 0 17px;
    border: 0;
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 500;
    background: url("../../assets/img/icon_plus.svg") no-repeat right #f2f2f2;
    background-size: 13px;
    background-position-x: 94%;
}

.add-tags button img {
    margin-right: 8px;
    height: 13px;
}

.lead-action {
    border-bottom: 1px solid #f2f2f2;
}

.lead-action h3 {
    padding: 15px 20px;
    background-color: #f2f2f2;
    color: #383838;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.lead-action form {
    padding: 20px;
}

.lead-action select {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 0 rgba(0, 0, 0, 0.02);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 20px;
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    background: url('../../assets/img/icon_select.svg') no-repeat right white;
    background-size: 13px;
    background-position-x: 94%;
    cursor: pointer;
    margin-bottom: 20px;
}

.comments {
    background-color: #f2f2f2;
    padding: 15px 20px;
}

.comments form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.comments form textarea {
    width: 100%;
    height: 115px;
    border: 1px solid #f2f2f2;
    background-color: white;
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 500;
    resize: none;
    padding: 15px;
}

.comments form textarea::placeholder {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 500;
}

.comments form button {
    width: 100%;
    height: 30px;
    background-color: #2196f3;
    color: white;
    font-size: 13px;
    font-weight: 400;
    border: 0;
}

.comments form button img {
    height: 13px;
}

.comments-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.comments-list ul li {
    position: relative;
    padding: 0 0 30px 21px;
}

.comments-list ul li:before {
    position: absolute;
    content: '';
    left: 0;
    top: 6px;
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: #2196f3;
}

.comments-list ul li:after {
    position: absolute;
    content: '';
    left: 4px;
    top: 7px;
    width: 1px;
    height: 100%;
    border-left: 1px dashed #2196f3;
}

.comments-list ul li:last-of-type:after {
    display: none;
}

.comments-list ul li p {
    color: #383838;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 13px;
}

.comments-list ul li .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comments-list ul li .item .date {
    color: #b3b3b3;
    font-size: 10px;
    font-weight: 400;
    width: 50%;
}

.comments-list ul li .item .actions {
    width: 50%;
    text-align: right;
}

.comments-list ul li .item .actions a {
    font-size: 10px;
    font-weight: 400;
    margin-left: 13px;
}

.comments-list ul li .item .actions a.delete {
    color: #f7931e;
}

.comments-list ul li .item .actions a.edit {
    color: #2196f3;
}

/*Modal incoming*/

.modal-incoming .modal-dialog {
    max-width: 450px;
}

.modal-incoming .modal-content,
.modal-progress .modal-content {
    border-radius: 15px;
    background-color: transparent;
}

.modal-incoming .modal-header,
.modal-progress .modal-header {
    height: 32px;
    background-image: linear-gradient(to right, #56ccf2 0%, #2f80ed 100%, #2f80ed 100%);
    padding: 7px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.modal-incoming .modal-header .close,
.modal-progress .modal-header .close {
    position: absolute;
    right: 15px;
    top: 3px;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.modal-incoming .modal-header .close span,
.modal-progress .modal-header .close span {
    color: white;
    font-weight: 300;
}

.modal-incoming .modal-header .modal-title,
.modal-progress .modal-header .modal-title {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: initial;
    letter-spacing: 0.5px;
}

.modal-incoming .modal-header .modal-title img,
.modal-progress .modal-header .modal-title img {
    margin-right: 10px;
    height: 14px;
}

.modal-incoming .modal-body {
    padding: 15px;
    background-color: white;
}

.modal-incoming .modal-body .user {
    display: flex;
    align-items: center;
}

.modal-incoming .modal-body .user-avatar {
    width: 45px;
    height: auto;
    margin-right: 15px;
}

.modal-incoming .modal-body .user-avatar img {
    max-width: 100%;
}

.modal-incoming .modal-body .user-info h4 {
    color: #283238;
    font-size: 16px;
    font-weight: 600;
    line-height: initial;
    letter-spacing: 0.55px;
    margin-bottom: 7px;
}

.modal-incoming .modal-body .user-info p {
    color: #283238;
    font-size: 14px;
    font-weight: 300;
    line-height: initial;
    letter-spacing: 0.5px;
    margin: 0;
}

.modal-incoming .modal-body .user-info p.color-grey {
    color: #cccccc;
}

.modal-incoming .modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border-top: 0;
}

.modal-incoming .modal-footer .btn {
    width: 50%;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: 0;
    border-radius: 0;
    margin: 0;
}

.modal-incoming .modal-footer .btn.btn-reject {
    background-color: #fff3f5;
    color: #dc3545;
    border-bottom-left-radius: 15px;
}

.modal-incoming .modal-footer .btn.btn-reject:hover,
.modal-incoming .modal-footer .btn.btn-reject:hover {
    background-color: #dc3545;
    color: white;
}

.modal-incoming .modal-footer .btn.btn-accept {
    background-color: #f3fff5;
    color: #28a745;
    border-bottom-right-radius: 15px;
}

.modal-incoming .modal-footer .btn.btn-accept:hover,
.modal-incoming .modal-footer .btn.btn-accept:focus {
    background-color: #28a745;
    color: white;
}

.modal-incoming .call-outcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-incoming .call-outcome label {
    width: 30%;
    margin: 0;
    text-align: left;
}

.modal-incoming .call-outcome select {
    width: 65%;
    font-size: 13px;
}

.modal-incoming .outcome-button button {
    width: 100%!important;
    border-bottom-left-radius: 15px!important;
}


/*Modal call in progress*/

.modal-progress .modal-body {
    padding: 15px 0 0 0;
    background-color: white;
}

.modal-progress .modal-content {
    min-height: 450px;
}

.modal-progress .modal-dialog {
    max-width: 850px;
}

.modal-progress .modal-body .details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f3f6f9;
    border-radius: 5px;
    margin: 0 15px 15px 15px;
}

.modal-progress .modal-body .details .details-left,
.modal-progress .modal-body .details .details-right {
    width: 50%;
    padding: 15px 20px;
}

.modal-progress .modal-body .details .details-left {
    border-right: 2px solid white;
}

.modal-progress .modal-body .details .details-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.modal-progress .modal-body .details .details-left ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 5px;
}

.modal-progress .modal-body .details .details-left ul li:last-of-type {
    margin-bottom: 0;
}

.modal-progress .modal-body .details .details-left p {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.45px;
    margin: 0;
}

.modal-progress .modal-body .details .details-left a:hover {
    color: #53a6fa;
}

.modal-progress .modal-body .details .details-left p b {
    color: #808080;
}

.modal-progress .modal-body .details .details-left p:first-of-type {
    width: 30%;
    position: relative;
}

.modal-progress .modal-body .details .details-left p:first-of-type:before {
    position: absolute;
    content: ':';
    right: 0;
}

.modal-progress .modal-body .details .details-left p:last-of-type {
    width: 55%;
}

.modal-progress .modal-body .details .details-right .user {
    display: flex;
    align-items: center;
}

.modal-progress .modal-body .details .details-right .user .user-avatar {
    width: 54px;
    height: auto;
    margin-right: 30px;
}

.modal-progress .modal-body .details .details-right .user .user-avatar img {
    max-width: 100%;
}

.modal-progress .modal-body .details .details-right .user .user-info h4 {
    color: #283238;
    font-size: 14px;
    font-weight: 600;
    line-height: initial;
    letter-spacing: 0.55px;
    margin-bottom: 7px;
}

.modal-progress .modal-body .details .details-right .user .user-info p {
    color: #283238;
    font-size: 14px;
    font-weight: 300;
    line-height: initial;
    letter-spacing: 0.5px;
    margin: 0;
}

.modal-progress .modal-body .details .details-right .user .user-info p.color-grey {
    color: #ccc;
}

.modal-progress .nav-active-primary {
    margin: 0 15px 15px 15px;
}

.modal-progress .tabs .nav {
    display: flex;
    flex-wrap: wrap;
}

.modal-progress .tabs .nav .nav-item {
    margin-right: 13px;
}

.modal-progress .tabs .nav .nav-item:last-of-type {
    margin-right: 0;
}

.modal-progress .tabs .nav .nav-item .nav-link {
    border: 1px solid #53a6fa;
    color: #53a6fa!important;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.45px;
    padding: 5px 15px;
}

.modal-progress .tabs .nav .nav-item .nav-link svg,
.modal-progress .tabs .nav .nav-item .nav-link img,
.modal-progress .tabs .nav .nav-item .nav-link i {
    margin-left: 13px;
}

.modal-progress .tabs .nav .nav-item .nav-link.active {
    color: white!important;
    box-shadow: none;
}

.modal-progress .tabs .nav .nav-item .nav-link.active svg path {
    fill: white;
}

.modal-progress .tabs .nav .nav-item .dropdown-menu {
    padding: 0;
    border: 1px solid #53a6fa;
    box-shadow: none;
    min-width: auto;
    width: 100%;
    margin-top: -3px;
}

.modal-progress .tabs .nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.45px;
    padding: 5px 15px;
}

.modal-progress .tabs .nav .nav-item .dropdown-menu .dropdown-item.active {
    color: white;
    background-color: #53a6fa;
}

.modal-progress .tabs .tab-content textarea,
.modal-progress .tabs .tab-content textarea::placeholder {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.45px;
}

.modal-progress .tabs .tab-content input[type="tel"] {
    height: 33px;
    color: #999;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.45px;
}

.modal-progress .tabs .tab-content input[type="tel"]::placeholder {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.45px;
}

.modal-progress .tabs .tab-content button[type="submit"] {
    min-width: 100px;
    height: 33px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: initial;
    letter-spacing: 0.18px;
}

.modal-progress .tabs .tab-content .tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.modal-progress .tabs .tab-content .tag-list button {
    color: white;
    height: 33px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.45px;
    padding: 5px 15px;
    margin: 0 13px 13px 0;
}

.modal-progress .tabs .tab-content .tag-list button:last-of-type {
    margin-right: 0;
}

.modal-progress .tabs .tab-content .suggestion {
    background-color: #f3f6f9;
}

.modal-progress .tabs .tab-content .suggestion h3 {
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.45px;
    margin-bottom: 10px;
}

.modal-progress .tabs .tab-content .suggestion .suggestion-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.modal-progress .tabs .tab-content .suggestion .suggestion-list button {
    color: #999;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.45px;
    border: 0;
    padding: 5px 15px;
    margin: 0 13px 13px 0;
}

.modal-progress .tabs .tab-content .feedback .feedback-list {
    background-color: #f7f8f9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal-progress .tabs .tab-content .feedback .feedback-list .wrapper {
    display: flex;
    justify-content: space-between;
}

.modal-progress .tabs .tab-content .feedback .feedback-list .star {
    border-right: 1px solid white;
    padding: 5px;
    text-align: center;
}

.modal-progress .tabs .tab-content .feedback .feedback-list .star i {
    font-size: 20px;
    color: #ffc900;
}

.modal-progress .tabs .tab-content .feedback .feedback-list .rate {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383838;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.11px;
}

.modal-progress .tabs .tab-content .feedback textarea,
.modal-progress .tabs .tab-content .feedback textarea::placeholder {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.45px;
    border-color: #f7f8f9;
}

.modal-progress .tabs .tab-content .suggestion .suggestion-list button:last-of-type {
    margin-right: 0;
}

.modal-progress .tabs .tab-content .lead-list .item {
    background-color: #f3f6f9;
    color: #283238;
    font-size: 14px;
    font-weight: 600;
    line-height: initial;
    letter-spacing: 0.55px;
    text-align: left;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 7px 15px;
}

.modal-progress .tabs .tab-content .lead-list .item.active {
    border-color: #28a745;
    position: relative;
}

.modal-progress .tabs .tab-content .lead-list .item.active:before {
    position: absolute;
    content: '\f058';
    right: 3%;
    font-family: 'FontAwesome';
    font-size: 14px;
    font-weight: 900;
    color: #28a745;
}

.modal-progress .tabs .tab-content .contact-form .nav .nav-item {
    width: 50%;
    color: #b3b3b3;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
    margin: 0;
}

.modal-progress .tabs .tab-content .contact-form .nav .nav-item .nav-link {
    border-color: #e7edf2;
    color: #b3b3b3!important;
    padding: 5px 15px;
}

.modal-progress .tabs .tab-content .contact-form .nav .nav-item .nav-link.active {
    background-color: #e7edf2!important;
    color: #4d4d4d!important;
}

.modal-progress .tabs .tab-content .contact-form .nav .nav-item:first-of-type .nav-link {
    border-radius: 0;
    border-top-left-radius: 5px;
}

.modal-progress .tabs .tab-content .contact-form .nav .nav-item:nth-of-type(2) .nav-link {
    border-radius: 0;
    border-top-right-radius: 5px;
}

.modal-progress .tabs .tab-content .contact-form .tab-content .tab-pane {
    border: 1px solid #e7edf2;
}

.modal-progress .tabs .tab-content .contact-form .form-group label {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-bottom: 2px;
}

.modal-progress .tabs .tab-content .contact-form .form-group input,
.modal-progress .tabs .tab-content .contact-form .form-group select {
    height: 33px;
}

.modal-progress .modal-footer {
    background-color: #1a1a1a;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.modal-progress .modal-footer .btn-icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    background-color: transparent;
    border: 0;
    color: #a8a8a8;
    font-size: 10px;
    font-weight: 500;
    line-height: initial;
    letter-spacing: 0.33px;
    margin-right: 15px;
}

.modal-progress .modal-footer .btn-icon:last-of-type {
    margin-right: 0;
}

.modal-progress .modal-footer .btn-icon svg,
.modal-progress .modal-footer .btn-icon img,
.modal-progress .modal-footer .btn-icon i {
    margin-bottom: 5px;
    height: 18px;
}

.modal-progress .modal-footer .btn-icon:hover svg path {
    fill: white;
}

.modal-progress .modal-footer .btn-icon:hover {
    color: white;
}

.modal-progress .modal-footer .btn {
    height: 33px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: initial;
    letter-spacing: 0.45px;
    margin-left: 13px;
}

.modal-progress .modal-footer .btn svg {
    height: 14px;
}

.modal-progress .modal-footer .btn:first-of-type {
    margin-left: 0;
}

.modal-progress .modal-footer .btn.btn-visit {
    background-color: #28a745;
}

.modal-progress .modal-footer .btn.btn-end,
.modal-progress .modal-footer .btn.btn-lock {
    background-color: #b72525;
}

/*Login*/

.login .container {
    min-height: 100vh;
}

.login-header {
    padding:  30px 0;
}

.login-header .logo img {
    height: 35px;
}

.login-header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.login-header ul li {
    margin-right: 30px;
}

.login-header ul li a {
    font-size: 15px;
}

.login-main {
    padding: 50px 0;
}

.login-main h1 {
    font-size: 64px;
    font-weight: 700;
}

.login-main p {
    font-size: 18px;
}

.login-main .btn-icon {
    width: 270px;
    position: relative;
    z-index: 1;
}

.login-main .btn-icon i {
    left: 0;
    justify-content: flex-start;
    padding: 0 20px;
    z-index: -1;
}

.login-main .btn-icon:hover {
    color: white;
}

.login-main form {
    max-width: 360px;
    padding: 30px 0;
    margin: 30px auto 0 auto;
}

.login-main form button {
    width: 100%;
    margin-bottom: 15px;
}

.login-main form p {
    font-size: 12px;
}

.login-main form p a {
    color: #007bff;
}

.login-footer {
    padding: 30px 0;
}

.login-footer ul {
    display: flex;
    margin: 0 0 0 30px;
    padding: 0;
    list-style: none;
}

.login-footer ul li {
    margin-left: 30px;
}

.login-footer ul li a {
    color: #007bff;
}

/*Meeting upcoming*/

.meeting-item {
    margin: 0 auto;
}


@media screen and (max-width: 767px) {
    .modal.fade .modal-right {
        left: 5%;
    }
    .intro, .resources, .notification {
        left: 0;
    }
    .video_modal iframe {
        width: 100%;
    }
    .lead_select {
        justify-content: flex-start!important;
    }
    .act_left {
        text-align: left!important;
        margin-bottom: 15px;
    }
    #aside .dropdown-menu.show {
        left: 60% !important;
    }
    .owner_left {
        justify-content: flex-start!important;
    }
    .lead_tabs button {
        background-color: white;
    }
    .mob_font_10 {
        font-size: 10px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .modal.fade .modal-right {
        left: 30%;
    }
}

@media screen and (max-width: 992px) {
    .app-aside .sidenav {
        width: 90px;
    }
    .modal-incoming .modal-header,
    .modal-progress .modal-header {
        padding: 6px 16px;
    }
    .modal-incoming .modal-header .modal-title,
    .modal-progress .modal-header .modal-title {
        font-size: 18px;
    }
    .modal-incoming .modal-body {
        padding: 16px;
    }
    .modal-incoming .modal-body .user-avatar {
        width: 50px;
        margin-right: 16px;
    }
    .modal-incoming .modal-body .user-info h4 {
        font-size: 20px;
    }
    .modal-incoming .modal-body .user-info p {
        font-size: 16px;
    }
    .modal-incoming .modal-footer .btn {
        height: 50px;
        font-size: 18px;
    }
    .modal-progress .modal-body {
        padding-top: 16px;
    }
    .modal-progress .modal-body .details {
        margin: 0 16px 16px 16px;
    }
    .modal-progress .modal-body .details .details-left,
    .modal-progress .modal-body .details .details-right {
        width: 100%;
        padding: 16px;
    }
    .modal-progress .modal-body .details .details-left p {
        font-size: 14px;
    }
    .modal-progress .modal-body .details .details-right .user .user-avatar {
        width: 50px;
        margin-right: 16px;
    }
    .modal-progress .modal-body .details .details-right .user .user-info p {
        font-size: 16px;
    }
    .modal-progress .nav-active-primary {
        margin: 0 16px 16px 16px;
    }
    .modal-progress .tabs .nav .nav-item {
        margin: 0 5px 5px 0;
    }
    .modal-progress .tabs .nav .nav-item .nav-link {
        font-size: 14px;
        padding: 5px 10px;
    }
    .modal-progress .tabs .tab-content button[type="submit"] {
        height: 33px;
        font-size: 14px;
    }
    .modal-progress .modal-footer .btn-icon {
        margin: 0 15px 15px;
    }
    .modal-progress .modal-footer .btn {
        height: 33px;
        font-size: 14px;
    }
    .modal-progress .tabs .tab-content input[type="tel"] {
        height: 33px;
        font-size: 14px;
    }
    .modal-progress .tabs .tab-content input[type="tel"]::placeholder {
        font-size: 14px;
    }
    .modal-progress .tabs .tab-content .tag-list button {
        height: 33px;
        font-size: 14px;
        margin: 0 5px 5px 0;
    }
    .modal-progress .tabs .tab-content .suggestion h3 {
        font-size: 16px;
    }
    .modal-progress .tabs .tab-content .suggestion .suggestion-list button {
        height: 33px;
        font-size: 14px;
        margin: 0 5px 5px 0;
    }
    .modal-progress .tabs .tab-content .feedback .feedback-list .star {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .modal-progress .tabs .tab-content .feedback .feedback-list .star i {
        font-size: 18px;
    }
    .modal-progress .tabs .tab-content .feedback .feedback-list .rate {
        font-size: 16px;
    }
    .modal-progress .tabs .tab-content .lead-list .item {
        font-size: 14px;
        margin-bottom: 15px;
        padding: 7px 15px;
    }
    .modal-progress .tabs .tab-content .lead-list .item.active:before {
        font-size: 16px;
    }
    .modal-progress .tabs .tab-content .contact-form .nav .nav-item .nav-link {
        padding: 5px 10px;
    }
    .modal-progress .tabs .tab-content .contact-form .form-group input,
    .modal-progress .tabs .tab-content .contact-form .form-group select {
        height: 33px;
    }
    .login-header ul {
        display: none;
    }
}

